@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
html,
* {
    font-family: 'Source Sans Pro';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px rgb(246, 246, 246) inset !important;
    -webkit-box-shadow: 0 0 0 30px rgb(246, 246, 246) inset !important;
}

a {
    color: inherit;
    text-decoration: none;
}

.slider {
    overflow-x: hidden;
}